@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #5A5A5A;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}

h2 {
  font-weight: 600;
  color: #71C772;
  font-size: 20px;
}

#accumulated {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #F2F9F2;
}

.h1 {
  font-weight: 700;
  font-size: 60px;
}

#stock-options {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Get rid of borders on Bootstrap table*/
.table {
    border-bottom:0px !important;
    width: 40%;
    margin: 0 auto;
}

.table th, .table td {
    border: 0px !important;
}
.fixed-table-container {
    border:0px !important;
}
/* Get rid of borders on Bootstrap table end*/

.btn {
  background-color: #28605E;
  border: 0 none;
  width: 20%;
}

.btn:hover {
  background-color: #1E4F4E;
}

/*input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: red;
}

input[type="radio"] + label .radio-style{
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}

input[type="radio"] + label .radio-style {
     background-color:$DarkBrown;
}

input[type="radio"]:checked + label .radio-style{
     background-color:$Orange;
}

input[type="radio"] + label .radio-style,
input[type="radio"]:checked + label .radio-style {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}*/
